  <div id="archives">
  <div id="football"><%= render 'topics/football' %></div>
  <div id="general"><%= render 'topics/general' %></div>
  <div id="travel"><%= render 'topics/travel' %></div>
  <div id="food"><%= render 'topics/food' %></div>
  </div>
