<%= form_for :user do |f| %>
    <div class="acc_font">

      <%= f.text_field :name, :value => "Register Name", :size => "20" %> - <%= f.password_field :password, :value => "Password", :size => "20" %>



    <%= image_submit_tag ("login.png")%>


        </div>
<% end %>
